{{ define "main"}}
    <main id="main">
      <div>
       <p style="font-size:180%;" align="center"><b><a style="text-decoration: none" href="{{ "/" | relURL }}"> :: 404 ERROR :: </a></b></p>
       <p align="center"><a style="text-decoration: none" href="{{ "/" | relURL }}">-These aren't the Droids you're looking for-</a></p>
<br>
<br>
       <p style="font-size:130%;" align="center"><a style="text-decoration: none" href="{{ "/" | relURL }}">↜ go back</a></p>
      </div>
    </main>
{{ end }}
